<div class="container">
  <h2  class="text-center">Todos List</h2>

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef data-column="id" mat-sort-header="id">ID</mat-header-cell>
      <mat-cell *matCellDef="let task" [class.completed]="task.completed">{{ task.id }}</mat-cell>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef data-column="title" mat-sort-header="title">Title</mat-header-cell>
      <mat-cell *matCellDef="let task" [class.completed]="task.completed">{{ task.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef data-column="userId" mat-sort-header="userId">User Id</mat-header-cell>
      <mat-cell *matCellDef="let task" [class.completed]="task.completed">{{ task.userId }}</mat-cell>
    </ng-container>
  
    <!-- Completed Column -->
    <ng-container matColumnDef="completed">
      <mat-header-cell *matHeaderCellDef data-column="completed" mat-sort-header="completed">Completed</mat-header-cell>
      <mat-cell *matCellDef="let task">
        <mat-checkbox (change)="onTaskCompleted(task)" [(ngModel)]="task.completed" ></mat-checkbox>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

